$primary-color: rgb(5, 71, 119);
$primary-color-light: rgb(184, 197, 207);
$secondary-color: rgb(220, 115, 55);
$secondary-color-dark: rgb(191, 90, 34);
$primary-background: rgb(255, 255, 255);
$border-color: rgba(0, 0, 0, 0.344);
$input-shadow: rgba(0, 0, 0, 0.31);
$input-shadow-button-active: rgba(0, 0, 0, 0.666);
$input-shadow-focus: rgba(220, 116, 55, 0.625);
