// $primary-color: rgb(5, 71, 119);
$primary-color: rgb(25, 129, 210);
// $primary-color-light: rgb(184, 197, 207);
$primary-color-light: rgb(92, 207, 214);
// $secondary-color: rgb(220, 115, 55);
$secondary-color: rgb(92, 207, 214);
$secondary-color-dark: rgb(191, 90, 34);
$primary-background: rgb(255, 255, 255);
$footer-background: rgb(184, 197, 207);
$border-color: rgb(51, 51, 51);
$text-color: rgb(51, 51, 51);
$input-shadow: rgba(0, 0, 0, 0.31);
$input-shadow-button-active: rgba(0, 0, 0, 0.666);
$input-shadow-focus: rgba(220, 116, 55, 0.625);
