@import "../../themes/colors.scss";

.navbar {
	height: 80px;
	width: 100%;
	z-index: 2;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $primary-background;
	border-bottom: solid 2px $border-color;

	.navbar-left {
		width: 33%;
		display: none;
	}

	.navbar-center {
		height: 100%;
		width: 50%;
		display: flex;
		align-items: center;

		.logo {
			height: 30px;
			padding-left: 10px;
		}
	}

	.navbar-right {
		width: 50%;
		position: absolute;
		right: 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.hamburger {
			height: 20px;
			padding-right: 10px;
		}

		.hide {
			transform: translate(-750px, 0);
		}

		.dropdown {
			height: 200px;
			width: 100vw;
			z-index: 1;
			position: absolute;
			top: 50px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			background-color: $primary-background;
			border-bottom: solid 2px $border-color;
			transition: transform 0.5s ease;

			.scroll-link {
				height: 20px;
				color: $text-color;
				font-size: large;
				font-weight: 550;
				cursor: pointer;
			}
		}
	}
}

@media screen and(min-Width: 750px) {
	.navbar {
		height: 100px;

		.navbar-center {
			.logo {
				height: 40px;
				padding-left: 20px;
			}
		}

		.navbar-right {
			width: 300px;
			position: relative;
			justify-content: space-evenly;

			.hamburger {
				display: none;
			}

			.hide {
				transform: none;
			}

			.dropdown {
				height: auto;
				width: 100%;
				position: relative;
				top: auto;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-evenly;
				background-color: none;
				border-bottom: none;
			}
		}
	}
}

@media screen and(min-width: 950px) {
	.navbar {
		height: 150px;
		justify-content: space-evenly;

		.navbar-left {
			display: block;
		}

		.navbar-center {
			width: 33%;
			justify-content: center;

			.logo {
				height: 50px;
				padding-left: 0cm;
			}
		}

		.navbar-right {
			width: 33%;
			justify-content: flex-start;

			.dropdown {
				justify-content: flex-start;

				.scroll-link {
					font-size: large;
					padding-left: 50px;
				}
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.navbar {
		.navbar-center {
			.logo {
				height: 60px;
			}
		}

		.navbar-right {
			.dropdown {
				.scroll-link {
					font-size: x-large;
				}
			}
		}
	}
}
